.col-md-2 {
  max-height: 95vh;
  overflow: scroll;
  background-color: #282c34;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.col-md-10 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}


.row {
  min-height: 95vh;
  max-height: 95vh;
  margin-left: 0px!important;
  margin-right: 0px!important;
}
