.caret-down{
  transform: rotate(0deg);
  transition: transform 0.25s linear;
}

.caret-down-click{
  transform: rotate(90deg);
  transition: transform 0.25s linear;
}

.card{
  background-color: #282c34;
  border-radius: 0;
}

.card-header{
  color: white;
  cursor: pointer;
}

.card-body{
  padding: 0;
  cursor: pointer;
}
.list-group-item{
  font-weight: bold;
}

