.caret-down{
  transform: rotate(0deg);
  transition: transform 0.25s linear;
}

.caret-down-click{
  transform: rotate(90deg);
  transition: transform 0.25s linear;
}

.card{
  background-color: #282c34;
  border-radius: 0px;
}

.card-header{
  color: white;
}

.card-body{
  padding: 0px;
}
