/*.caret-down {*/
/*  animation-name: toggle-up;*/
/*  animation-duration: 0.5s;*/
/*  animation-fill-mode: forwards;*/
/*  transition: all 0.75s 0.25s;*/
/*}*/
/*.caret-down-click {*/
/*  animation-name: toggle-down;*/
/*  animation-duration: 0.25s;*/
/*  animation-fill-mode: forwards;*/
/*}*/


.caret-down{
  transform: rotate(0deg);
  transition: transform 0.25s linear;
}

.caret-down-click{
  transform: rotate(90deg);
  transition: transform 0.25s wlinear;
}

/*!*animations*!*/
/*@keyframes toggle-up {*/
/*  100% {*/
/*    transform: rotate(-45deg);*/
/*  }*/
/*}*/
/*@keyframes toggle-down {*/
/*  100% {*/
/*    transform: rotate(90deg);*/
/*  }*/
/*}*/
